<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <base target="_top">
        <script src="/src/components/header/header.js"></script>
    </head>
    <body>
        <template>
            <link rel="stylesheet" href="/src/style/sanitize.css">
            <link rel="stylesheet" href="/src/style/global.css">
            <link rel="stylesheet" href="/src/components/toc/toc.css">

            <div id="toc" class="not-loaded">
                <span>目次</span>
                <ol class="acd-content">
                    <li>A</li>
                    <li>B</li>
                    <li>C</li>
                    <li>D</li>
                    <li>E</li>
                </ol>
            </div>
        </template>
        <div>
            <top-header id="topHeader"></top-header>
            <toc-element id="toc"></toc-element>
        </div>
        <script src="./toc.js"></script>
    </body>
</html>