<!DOCTYPE html>
<html lang="ja">
    <head>
        <title>example</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="header.css">
    </head>
    <body>
        <header id="topHeader">
            <h1>群馬高専　電算部</h1>
            <div id="opButtons">
                <button id="tocButton">
                    <span>
                        <span>目次</span>
                    </span>
                </button>
                <button class="menu-trigger" id="menuButton">
                    <span></span>
                    <span>menu</span>
                    <span></span>
                </button>
            </div>
        </header>
        <script src="header.js" type="module"></script>
    </body>
</html>
