<!DOCTYPE html>
<html lang="ja">
	<head>
		<meta charset="UTF-8">
		<base target="_top">
		<link rel="stylesheet" href="style/style.css">
	</head>
  <body>
      <section>
        <h1>HOME</h1>
        <p class="section-content">ここは群馬高専のホームページです。</p>
        <h1>最近の更新</h1>
        <a href="">
        <div>
          <p class="date">2023 10/18</p>
          <h2>新ホームページ開設！</h2>
          <p class="card-content">群馬高専電算部の新たなホームページを公開しました。このホームページは2023年度に作成され、WEB班によって管理されています。</p>
        </div>
        </a>

        <h1>おすすめの記事</h1>
        <a href="">
        <div>
          <p class="date">2023 10/18</p>
          <h2>2023年度 D言語</h2>
          <p class="card-content">2023年度電算部の部誌です。</p>
        </div>
        </a>
      </section>
      
  </body>
</html>